<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin page</title>
</head>
<body>
	
	<p>Admin</p>
	<form action="/reguser" method="get">
	    <input type="text" name="name" placeholder="Name" />
	    <input type="submit" />
    </form>
    
    
    <form action="/reglocation" method="get">
	    <input type="text" name="name" placeholder="Name" />
	    <input type="text" name="address" placeholder="Adress" />
	    <input type="submit" />
    </form>
    
    <form action="/regmatch" method="get">
	    <input type="text" name="playerone" placeholder="playerOne" />
	    <input type="text" name="pointsplayerone" placeholder="pointsPlayerOne" />
	    <input type="text" name="playertwo" placeholder="playerTwo" />
	    <input type="text" name="pointsplayertwo" placeholder="pointsPlayerTwo" />
	    <input type="text" name="location" placeholder="location" />
	    <input type="text" name="date" placeholder="date" />
	    <input type="submit" />
    </form>
    
</body>
</html>